.anim-container {
    border: 1px solid #000;
    width: fit-content;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.25rem;

}

.anim-field {
    background-image: url(./field.jpg);
    margin: 0.05rem;
    border-radius: 0.25rem;
    border: 1px solid #000;
}

.anim-control {
    align-items: center;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.ball {
    width: 150px;
    height: 150px;
    /* background-image: url(./basketball.png); */
    background-position: center;
    background-size: cover;
    background-color: gray;
    transform: rotate(0deg);
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    left: 0;
    top: 0;
}