@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bg-blue {
  background-color: blue;
}

* {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.btn-primary:hover {
  background-color: #0051ca !important;
  transition: 0.2s ease-in-out 0s;
  transform: scale(1.05);
}

.btn-secondary:hover {
  background-color: #696c6f !important;
  transition: 0.2s ease-in-out 0s;
  transform: scale(1.05);
}
.btn-success:hover {
  background-color: #105233 !important;
  transition: 0.2s ease-in-out 0s;
  transform: scale(1.05);
}
.btn-danger:hover {
  background-color: #681b1b !important;
  transition: 0.2s ease-in-out 0s;
  transform: scale(1.05);
}
.btn-outline-primary:hover {
  border-color: #0051ca !important;
  color: white !important;
}
.btn-outline-secondary:hover {
  border-color: #696c6f !important;
  color: white !important;
}

.btn-outline-success:hover {
  border-color: #105233 !important;
  color: #105233 !important;
}
.w-f {
  width: fit-content !important;
}

.todo-input {
  border-radius: 0px;
  background: white;
}

.h-f {
  height: fit-content !important;
}

.nav {
  .btn {
    height: fit-content;
    color: white;
  }
  .btn:hover {
    background: #4a4a4a;
    height: fit-content;
    border: none;
  }
  .btn-hold {
    background: #4a4a4a;
    height: fit-content;
    border: none;
  }
}

.products-items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  overflow-y: auto;
  height: 560px;
  justify-items: center;
}
.products-container {
  text-align: center;
}
